.ChatWindowWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.userheader{
    height: 3vh;
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    backdrop-filter: blur(5px);
}
.messagewindow{
    height: 70vh;
    backdrop-filter: blur(5px);
}
.messagesend{
    height: 5vh;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.inputmessage{
    width: 40%;
    border-radius:50px;
    outline: none;  
    font-size: 1.5rem;
}
.messageBtn{
    width: 5%;
    border-radius: 50px;        
}