.DashboardWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.Navbardiv {
    height: 70px;              
    flex-shrink: 0;           
}

.Messagediv {
    display: flex;
    flex: 1;                  
    overflow: hidden;         
}

.UserSidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--background-dark);
    color: white;
}
.UserSidebar h3{
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 2px solid white;
    


}
.UserButton{
    border: 1px solid (--header-bg);
    background-color: var(--background-dark);
    width: 100%;
    height: 10ch;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: white;
}
.UserButton >*{
    flex: 1;
    padding: 10px;
}
.usernames{
    font-size: large;
}

.Chatwindow {
    flex: 1;
    padding: 20px;
    overflow-y: auto;   
    background-image: url(/./social-network-blue.avif);  
    /* background-size: cover;
    background-repeat: no-repeat;    */
}

.FriendSearch{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
.FriendSearch img{
    width: 40px;
}