.wrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  margin-top:20px ;
  padding: 1rem;
  background: #f7f9fc;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  border: 2px solid black;
}
.wrapper button{
}

.search {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: black;
}

.userCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  background: white;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
}

.addBtn {
  padding: 0.4rem 0.8rem;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.addBtn:hover {
  background: #3b37b2;
}
.closeBtn{
  width: 10%;
  padding: 5px;
  border-radius: 12px;
  font-size: 2em;
}