.SignUp{
    width: 70%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    color: var(--text-secondary);
     
    gap: 20px;
    padding: 2%;
    border-radius: var(--border-radius);
     background: var(--background-dark);    
  color: var(--text-on-primary);       
  border-radius: var(--border-radius);  
  box-shadow: var(--shadow-dark);      
  padding: 10px; 
}
.SignUp h2{
   font-size: 2rem;
   color: white;
}
.SignUpForm{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    font-size: larger;
    justify-content: center;
    align-items: center;
}
.SignUpForm input{
    width: 90%;
    height: 55px;
    gap: 20px;
    border: 2px solid gray;
    background-color: var(--input-bg);
      border: 2px solid var(--secondary-color); /* ice blue border */
  border-radius: var(--border-radius);
    outline: none;
    font-size: larger;
    color:black;
    font-weight: bolder;
}
input::placeholder{
    color:black

}
.SignUpForm input:focus{
      border-color: var(--primary-color); /* indigo border highlight */
  outline: none;
}
.SignUpForm button{
    width: 50%;
    padding: 15px;
    cursor: pointer;
    width: 50%;
     padding: 14px;
  background: var(--primary-color);      /* indigo button */
  color: var(--text-on-primary);         /* white text */
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 600;
  cursor: pointer;
  transition: background var(--transition-speed);
}